In [1]:
import numpy as np
import pandas as pd
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer, PorterStemmer, LancasterStemmer, SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import string
import nltk
from nltk.corpus import stopwords, wordnet
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [2]:
df = pd.read_csv("movies_IMDB.csv")

In [3]:
df

,Unnamed: 0,movie_name,genre,year,timeMin,imdb,metascore,votes,us_grossMillions
0,0,The Gentlemen,"Action, Comedy, Crime",2019,113,8.0,51.000000,103248,69.043713
1,1,Once Upon a Time... in Hollywood,"Comedy, Drama",2019,161,7.7,83.000000,439202,142.500000
2,2,Parasite,"Comedy, Drama, Thriller",2019,132,8.6,96.000000,367763,53.370000
3,3,Knives Out,"Comedy, Crime, Drama",2019,131,8.0,82.000000,272176,165.360000
4,4,1917,"Drama, War",2019,119,8.4,78.000000,278731,159.230000
...,...,...,...,...,...,...,...,...,...
995,995,The Shop Around the Corner,"Comedy, Drama, Romance",1940,99,8.1,96.000000,26038,0.200000
996,996,Vizontele,"Comedy, Drama",2001,110,8.0,77.511377,31025,69.043713
997,997,Boy A,Drama,2007,102,7.6,75.000000,36185,0.110000
998,998,And Now for Something Completely Different,Comedy,1971,88,7.6,77.511377,28037,69.043713
999,999,The Breath,"Action, Drama, Thriller",2009,128,8.0,77.511377,30650,69.043713

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   movie_name        1000 non-null   object
 2   genre             1000 non-null   object
 3   year              1000 non-null   int64
 4   timeMin           1000 non-null   int64
 5   imdb              1000 non-null   float64
 6   metascore         1000 non-null   float64
 7   votes             1000 non-null   int64
 8   us_grossMillions  1000 non-null   float64
dtypes: float64(3), int64(4), object(2)
memory usage: 70.4+ KB

In [5]:
#Memilih kolom mana yang akan digunakan
#Kolom Venue
autan = df['movie_name']
print(autan)

0                                   The Gentlemen
1                Once Upon a Time... in Hollywood
2                                        Parasite
3                                      Knives Out
4                                            1917
                          ...
995                    The Shop Around the Corner
996                                     Vizontele
997                                         Boy A
998    And Now for Something Completely Different
999                                    The Breath
Name: movie_name, Length: 1000, dtype: object

In [6]:
def clean(text):
    text = text.lower()  # Lowercase text
    text = re.sub(r'\d+', '', text.lower())  # Clear Number
    text = text.translate(str.maketrans("", "", string.punctuation))  # Clear  !@#$##&$*(%)
    text = text.strip()  # Bersihkan whitespaces (karakter karakter yang aneh/tak terlihat)
    return text

In [7]:
sofel= autan.apply(clean)
sofel

0                                   the gentlemen
1                   once upon a time in hollywood
2                                        parasite
3                                      knives out
4
                          ...
995                    the shop around the corner
996                                     vizontele
997                                         boy a
998    and now for something completely different
999                                    the breath
Name: movie_name, Length: 1000, dtype: object

In [8]:
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

In [9]:
def tokenstem(text):
    words = word_tokenize(text)
    filtered = []
    for w in words:
        if w not in stop_words:
            w = lemmatizer.lemmatize(w)
            w = stemmer.stem(w)
            filtered.append(w)
    return filtered

In [10]:
baigon = sofel.apply(tokenstem)
baigon

0                    [gentleman]
1        [upon, time, hollywood]
2                      [parasit]
3                        [knife]
4                             []
                 ...
995       [shop, around, corner]
996                   [vizontel]
997                        [boy]
998    [someth, complet, differ]
999                     [breath]
Name: movie_name, Length: 1000, dtype: object