**Nama : Muhammad Aldi Pangestu**

**Nim  : 09011281823068**

**Deskripsi Masalah**
* Memprediksi Penyakit Jantung berdasarkan atribut yang diberikan
* * 0 - TIDAK ADA PENYAKIT JANTUNG
* * 1 - PENYAKIT JANTUNG

**Informasi Atribut:**
> 1. usia
> 2. jenis kelamin (1 = pria; 0 = wanita)
> 3. jenis nyeri dada (4 nilai)
Nilai 1: angina khas
Nilai 2: angina atipikal
Nilai 3: nyeri non anginal
Nilai 4: asimtomatik
> 4. tekanan darah istirahat
> 5. serum kolestoral dalam mg / dl
> 6. Gula darah puasa> 120 mg / dl
> 7. hasil elektrokardiografi istirahat (nilai 0,1,2)
- Nilai 0: normal
- Nilai 1: memiliki kelainan gelombang ST-T (inversi gelombang T dan / atau elevasi atau depresi ST> 0,05 mV)
- Nilai 2: menunjukkan kemungkinan atau pasti hipertrofi ventrikel kiri menurut kriteria Estes
> 8. detak jantung maksimal tercapai
> 9. angina akibat olahraga
> 10. oldpeak = depresi ST yang disebabkan oleh olahraga relatif terhadap istirahat
> 11. kemiringan puncak latihan segmen ST
> 12. jumlah bejana besar (0-3) yang diwarnai dengan flourosopi
> 13. thal: 3 = normal; 6 = cacat tetap; 7 = cacat yang dapat diperbaiki

**Sumber File heart.csv**
Link 1: https://storage.googleapis.com/kagglesdsdata/datasets/33180/43520/heart.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20201208%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20201208T155117Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=36974e5c1068fe003d6dbbba9c696e6bed431dbe77dbb981cfcb7639f7907c3034e1c2b540838f0c9a999c9c8d4e98db9f6295897c38c4533f5e58fd9ed0f2a1ef9056525688f9cec9acabd12e49bc5a87e6f5f2069d673506b842226d9f81953760b42e77ec4ec849083286b3087f8ae28073b14007a34bed367735a178aaa38d954fa1d4743294c64dee1aac9c5902647dc0bfd5258d75c9801ccba30a561455f578bf771a4f486a318b0da2efb141539434adc34d42ee9c3959f99589301db281016ce9b421634b79da5b16901d891d918f2c1b1ae411ef620d3c97adc9151a98d5211fb57c412bb4ad5304cd5a48ba4fd27ae577d4c824afa994ff3a2ff9

Link 2: https://www.kaggle.com/ronitf/heart-disease-uci

In [11]:
#Import python packages
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import svm #Import svm model
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import confusion_matrix

In [12]:
#Import the heart data
data = pd.read_csv("heart.csv")

In [13]:
#Display first 5 lines of heart data
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
#Display basic statistics of data
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [15]:
#Display basic info about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [16]:
#Separate Feature and Target Matrix
x = data.drop('target',axis = 1) 
y = data.target

In [17]:
# Split dataset into training set and test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=109) # 70% training and 30% test

**Training and Testing the Machine Learning Model - SVM (Support Vector Machines)**

In [18]:
#Create a svm Classifier
ml = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
ml.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = ml.predict(x_test)

In [19]:
# Model Accuracy: how often is the classifier correct?
ml.score(x_test,y_test)

0.9010989010989011

Find the results [TP   FP

                  FN  TN ]

In [20]:
confusion_matrix(y_test,y_pred)

array([[35,  5],
       [ 4, 47]], dtype=int64)

**KOMENTAR:**
* Diperkirakan 35 pasien ** akan ** menderita Penyakit Jantung, Prediksinya BENAR (Benar-Positif)
* 47 pasien diprediksi ** TIDAK ** mengidap Penyakit Jantung, Prediksinya BENAR (True-Negative)
* Diperkirakan 5 pasien ** akan ** mengidap Penyakit Jantung tetapi Prediksinya SALAH (Positif False)
* 4 pasien diperkirakan ** TIDAK ** akan menderita Penyakit Jantung tetapi Prediksinya SALAH (Negatif-False)